<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/availability.css">

<main>
    <h3>2. 원하시는 자리를 선택해주세요.</h3>
    <div class="seating-map">
        <div class="seating-table">
            {{#tableOne}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{date}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <div class="seat-number">{{username}}</div>
                        <div class="buttons">
                            <a href="/reservation?dates={{date}}&seat-number={{seat_number}}&username={{encode username}}&edit=true">삭제</a>
                        </div>
                    </div>
                {{/ifEqual}}
            {{/tableOne}}
        </div><div class="seating-table">
            {{#tableTwo}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{date}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <div class="seat-number">{{username}}</div>
                        <div class="buttons">
                            <a href="/reservation?dates={{date}}&seat-number={{seat_number}}&username={{encode username}}&edit=true">삭제</a>
                        </div>
                    </div>
                {{/ifEqual}}
            {{/tableTwo}}
        </div><div class="seating-table standing-table">
            {{#tableThree}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{date}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <div class="seat-number">{{username}}</div>
                        <div class="buttons">
                            <a href="/reservation?dates={{date}}&seat-number={{seat_number}}&username={{encode username}}&edit=true">삭제</a>
                        </div>
                    </div>
                {{/ifEqual}}
            {{/tableThree}}
        </div>
    </div>

    <div class="seating-map">
        <div class="seating-table">
            {{#tableFour}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{date}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <div class="seat-number">{{username}}</div>
                        <div class="buttons">
                            <a href="/reservation?dates={{date}}&seat-number={{seat_number}}&username={{encode username}}&edit=true">삭제</a>
                        </div>
                    </div>
                {{/ifEqual}}
            {{/tableFour}}
        </div><div class="seating-table">
            {{#tableFive}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{date}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <div class="seat-number">{{username}}</div>
                        <div class="buttons">
                            <a href="/reservation?dates={{date}}&seat-number={{seat_number}}&username={{encode username}}&edit=true">삭제</a>
                        </div>
                    </div>
                {{/ifEqual}}
            {{/tableFive}}
        </div><div class="seating-table standing-table">
            {{#tableSix}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{date}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <div class="seat-number">{{username}}</div>
                        <div class="buttons">
                            <a href="/reservation?dates={{date}}&seat-number={{seat_number}}&username={{encode username}}&edit=true">삭제</a>
                        </div>
                    </div>
                {{/ifEqual}}
            {{/tableSix}}
        </div>
    </div>
</main>
