<link rel="stylesheet" type="text/css" href="/css/seating-map.css">

<main>
    <h3>자리 배치도</h3>
    <div class="seating-map">
        <div class="seating-table">
            {{#tableOne}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{dates}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <a href="javascript:void(0);">
                            <div class="seat-number">{{username}}</div>
                        </a>
                    </div>
                {{/ifEqual}}
            {{/tableOne}}
        </div><div class="seating-table">
            {{#tableTwo}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{dates}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <a href="javascript:void(0);">
                            <div class="seat-number">{{username}}</div>
                        </a>
                    </div>
                {{/ifEqual}}
            {{/tableTwo}}
        </div><div class="seating-table standing-table">
            {{#tableThree}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{dates}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <a href="javascript:void(0);">
                            <div class="seat-number">{{username}}</div>
                        </a>
                    </div>
                {{/ifEqual}}
            {{/tableThree}}
        </div>
    </div>

    <div class="seating-map">
        <div class="seating-table">
            {{#tableFour}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{dates}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <a href="javascript:void(0);">
                            <div class="seat-number">{{username}}</div>
                        </a>
                    </div>
                {{/ifEqual}}
            {{/tableFour}}
        </div><div class="seating-table">
            {{#tableFive}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{dates}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <a href="javascript:void(0);">
                            <div class="seat-number">{{username}}</div>
                        </a>
                    </div>
                {{/ifEqual}}
            {{/tableFive}}
        </div><div class="seating-table standing-table">
            {{#tableSix}}
                {{#ifEqual username null}}
                    <div class="seat">
                        <a href="/reservation?dates={{dates}}&seat-number={{seat_number}}">
                            <div class="seat-number">{{seat_number}}</div>
                        </a>
                    </div>
                {{else}}
                    <div class="seat taken">
                        <a href="javascript:void(0);">
                            <div class="seat-number">{{username}}</div>
                        </a>
                    </div>
                {{/ifEqual}}
            {{/tableSix}}
        </div>
    </div>
</main>
